# RMIT University Vietnam
# Course: COSC2767|COSC2805 Systems Deployment and Operations
# Semester: 2026B
# Assessment: Assignment 2
# Acknowledgement: Grafana provisioning documentation.
#
# Rendered by ansible/monitoring.yml (role=grafana). Prometheus and Loki
# run on the prod swarm manager; Grafana on the dedicated monitoring EC2
# reaches them over the VPC private network.

apiVersion: 1

datasources:
  - name: Prometheus
    uid: prometheus
    type: prometheus
    access: proxy
    url: http://{{ hostvars[groups['swarm_manager'][0]].ansible_host }}:9090
    isDefault: true
    editable: false

  - name: Loki
    uid: loki
    type: loki
    access: proxy
    url: http://{{ hostvars[groups['swarm_manager'][0]].ansible_host }}:3100
    editable: false
